DISCORD_BOT_TOKEN=<token do not prefix with Bot>
MAP_URL=<your wanderer url>
MAP_NAME=<your map name>
MAP_TOKEN=<token for your map>
DISCORD_CHANNEL_ID=<discord channel id>
ZKILL_BASE_URL=https://zkillboard.com
ESI_BASE_URL=https://esi.evetech.net/latest
LICENSE_KEY=<your license key here>
LICENSE_MANAGER_API_URL=http://host.docker.internal:8000
LICENSE_MANAGER_AUTH_KEY=<license manager auth key>
BOT_REGISTRATION_TOKEN=<optional bot registration token>